@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-color: #f0f9ff;
  }
  
  /* Custom Scrollbar for a cleaner look */
  ::-webkit-scrollbar {
    width: 8px;
  }

  ::-webkit-scrollbar-track {
    background: #f0f9ff;
  }

  ::-webkit-scrollbar-thumb {
    background: #bae6fd;
    border-radius: 4px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #7dd3fc;
  }
}
